{% extends 'base/base.html' %}
{% load static  %}

{% block titulo %}Rusteze Componentes{% endblock titulo %}

{% block contenido %}

<div class="row">
    <div class="col-1">
        <h2>Productos<br>AUTOMOVILISTICOS</h2>
        <h3>Respuestos, pinturas y componentes para tu automovil.</h3>
        <p>(Mistubishi, Honda, Nissan)</p>
        <button class="boton-index" type="button"><b>Ver productos </b> <img class="img-boton" src="{% static 'img/arrow.png' %}" alt=""></button>
    </div>
    <div class="col-2">
        <img src="{% static 'img/rueda.png' %}" class="main-index" alt="">
        <div class="color-box"></div>
        <div class="add-boton">
            <img src="{% static 'img/add.png' %}" alt="">
            <p><small><b>Añadir al carro</b> </small></p>
        </div>
    </div>
</div>


<!-- Cards de productos -->
<main>
    <div class="container2">
        <div class="card card-yellow">
        <img class="logo-card" src="{% static 'img/Rusteze-logo.png' %}"  alt=""/>
        <h2 class="title">The <br> Best <br> way </h2>
        <img class="producto" src="{% static 'img/image_1.png' %}" alt="">
        <div class="price">
            <h6>CLP$ 520,000</h6>
            <h4>CLP$ 479,000</h4>
        </div>
        <div class="button-right">
            <button><b> Comprar </b></button>
        </div>
        </div>

        <div class="card card-blue">
            <img class="logo-card" src="{% static 'img/Rusteze-logo.png' %}"  alt=""/>
            <h2 class="title">The <br> best <br> way</h2>
            <img class="producto" src="{% static 'img/image_2.png' %}" alt="">
            <div class="price">
            <h6>CLP$ 520,000</h6>
            <h4>CLP$ 479,000</h4>
            </div>
            <div class="button-right">
            <button><b> Comprar </b></button>
            </div>
        </div>

        <div class="card card-red">
            <img class="logo-card" src="{% static 'img/Rusteze-logo.png' %}"  alt=""/>
            <h2 class="title">The <br> best <br> way</h2>
            <img class="producto" src="{% static 'img/image_3.png' %}" alt="">
            <div class="price">
            <h6>CLP$ 520,000</h6>
            <h4>CLP$ 479,000</h4>
            </div>
            <div class="button-right">
            <button><b> Comprar </b></button>
            </div>
        </div>
    </div>
</main>

<!-- Espacio entre container2 y footer -->
<div class="espacio">
    <p>........

    </p><br><br>
</div>


{% block js %}
<script>
let menuList = document.getElementById("menuList");
menuList.style.maxHeight =  "0px";
function togglemenu(){

    if(menuList.style.maxHeight === "0px")
        {
            menuList.style.maxHeight = "130px"
        }
    else
        {
            menuList.style.maxHeight = "0px";
        }
}
</script>
{% endblock js %}

{% endblock contenido %}
