{% extends "base/base.html" %}



{% load static  %}



{% block content %}

<div class="container" style="text-align: center;">


<table class="table" >

    {% if productos %}

    <th>Id</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>

        {% for prod in productos %}

            <tr>
                <th scope="row"> {{ prod.prod_id }}
                <td> {{ prod.nombre }}
                <td> {{ prod.descripcion }}
                <td>$ {{ prod.precio }}
            </tr>

        {% endfor %}


    {% endif %}


</table>

</div>


{% endblock %}