{% extends 'base/base_registro.html' %}
{% load static  %}

{% block titulo %}Rusteze | Registro{% endblock titulo %}

{% block contenido %}



<div class="contenido">
    <section class="side">
        <img src="{% static 'images/main.png'%}" alt="">
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Bienvenido!</p>
            <div class="separator"></div>
            <p class="welcome-message">Por favor, completa el formulario para poder crear tu cuenta en Rusteze.</p>

            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="form-controls">
                    <label>
                        <input name="username" type="text" placeholder="Nombre de usuario">
                        <i class="fas fa-user"></i>
                    </label>

                    <p class="feedback-invalid">
                        {{ formulario.username.errors }}
                    </p>
                </div>
                <div class="form-controls">
                    <label>
                        <input name="first_name" type="text" placeholder="Nombre">
                        <i class="fas fa-user"></i>
                    </label>
                    <p class="feedback-invalid">
                    {{ formulario.first_name.errors }}
                </p>
                </div>
                <div class="form-controls">
                    <label>
                        <input name="last_name" type="text" placeholder="Apellido">
                        <i class="fas fa-user"></i>
                    </label>
                    <p class="feedback-invalid">
                    {{ formulario.last_name.errors }}
                </p>
                </div>
                <div class="form-controls">
                    <label>
                        <input name="email" type="email" placeholder="Correo electronico">
                        <i class="fa-solid fa-envelope"></i>
                    </label>
                    <p class="feedback-invalid">
                    {{ formulario.email.errors }}
                </p>
                </div>
                <div class="form-controls">
                    <label>
                        <input name="password1" type="password" placeholder="Contraseña">
                        <i class="fas fa-lock"></i>
                    </label>
                    <p class="feedback-invalid">
                    {{ formulario.password1.errors }}
                </p>
                </div>
                <div class="form-controls">
                    <label>
                        <input name="password2" type="password" placeholder="Repetir contraseña">
                        <i class="fas fa-lock"></i>
                    </label>
                    <p class="feedback-invalid">
                    {{ formulario.password2.errors }}
                </p>
                </div>

                <button class="submit">Registrarse</button>
            </form>
        </div>
    </section>
</div>


{% block js %}
<script src="{% static 'fucktion.js' %}" ></script>
<script src="{% static 'boostrap/js/bootstrap.bundle.min.js' %}" ></script>
{% endblock js %}

{% endblock contenido %}






