{% load static %}
<!-- Footer -->
<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'img/Rusteze-logo.png' %}" alt="Logo de Rusteze">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quibusdam!</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis.</P>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Rusteze</b> - Todos los derechos reservados </small>
        </div>
    </footer>
<!-- Footer -->
