{% load static %}
<!-- Navbar -->
        <div class="navbar">
            <a class="logo-nav" href="{% url 'Index' %}">RUSTEZE.</a>
            <nav class="nav">
                <ul id="menuList">
                    <li><a href="{% url 'Tienda' %}">Productos</a></li>
                    <li><a href="{% url 'SobreNosotros' %}">Sobre nostros</a></li>
                    <li><a href="{% url 'Contacto' %}">Contactenos</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'Perfil' %}">Cerrar Sesion</a></li>
                    {% else %}
                    <li><a href="{% url 'IniciarSesion' %}">Iniciar sesion/registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
            <img src="{% static 'img/menu.png' %}" class="menu-nav" onclick="togglemenu()" alt="">
        </div>
<!-- Navbar -->
