{% load static %}
<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'images/Rusteze-logoN.png'%}" alt="Logo de Rusteze">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2><b>SOBRE NOSOTROS</b></h2>
                <P>Rusteze empresa lider en la venta de respuestos y accesorios automovilisticos!</P>
                <P>La mejor calidad y variedad en respuestos para automoviles JDM.</P>
            </div>
            <div class="box">
                <h2><b>SIGUENOS</b> </h2>
                <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Rusteze</b> - Todos los derechos reservados </small>
        </div>
    </footer>